{% import "bootstrap/wtf.html" as wtf %}


<!DOCTYPE html>
<html lang="en">

    {# head #}
    {% block head %}
        <head>
            <title> books Inc </title>
            <meta charset="UTF-8">
            <!-- Bootstrap CSS -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
            <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        </head>
    {% endblock head %}

    {# body #}
    {% block body %}
    <body>
    <div class="wrapper">
        {# navigation bar #}
        {% block navbar %}
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand title" href="{{ url_for('main.display_books') }}">Book Shop Around the Corner</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link home" href="{{url_for('main.display_books')}}">Home</a>
                  <a class="nav-link" href="{{url_for('authentication.register_user')}}">Register</a>
                  {% if current_user.is_authenticated%}
                    <a class="nav-link" href="{{url_for('authentication.log_out_user')}}">SignOut</a>
                  {%else%}
                    <a class="nav-link" href="{{url_for('authentication.do_the_login')}}">SignIn</a>
                  {%endif%}
                </div>
                <a href="">
                  {% if current_user.is_authenticated%}
                    LoggedIn as <b style="color:deeppink">{{current_user.user_name.title()}}</b>
                  {%else%}
                    Not LoggedIn
                  {%endif%}
                </a>
              </div>
            </div>
          </nav>
        {% endblock navbar %}

        {# empty block for custom content #}
        {% block content %} 
        
        {% endblock content %}

        {# footer #}
        {% block footer %}
        <footer>
            <div class="container ftr">
                <hr>
                <p class="text-center small"> The Shop Around The Corner &copy;	| 2019 </p>
            </div>
        </footer>
        {% endblock footer %}

    </div>
    </body>
    {% endblock body %}
</html>